<h1>Hypnotoad Commands You To Watch</h1>
  <% form_tag titles_search_path, :method => 'get' do %>
  <p>
    <%= text_field_tag (:query) %>
    <%= submit_tag "Search by Title" %>
  </p>
  <% end %>

<div id="title-list">
<table>
    <th>Image</th>
		<th>Title</th>
    <th>Director</th>
    <th>Rating</th>
  </tr>  
  <%= will_paginate @titles, :param_name => 'titles_page' %>
  <% for title in @titles %>
      <td>
		  <img class="list-image" src="https://s3.amazonaws.com/videoguru/images/<%= title.image_url %>" width="100" />
  	  </td>
	  <td>
	    <%= link_to title.movie_name, movie_show_path(:id => title) %>
	  </td>
	  <td><%= title.director %>
	  <td><%= title.rating %>
    </tr>
  <% end %>
</table>

</div>